In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier

In [3]:
data = pd.read_csv("data/titanic.csv")

In [6]:
# Select our features
data = data[['Pclass', 'Sex', 'Age', 'Survived', 'Parch', 'SibSp']]

In [5]:
data.head(20)

    Pclass     Sex   Age  Survived  Parch  SibSp
0        3    male  22.0         0      0      1
1        1  female  38.0         1      0      1
2        3  female  26.0         1      0      0
3        1  female  35.0         1      0      1
4        3    male  35.0         0      0      0
5        3    male   NaN         0      0      0
6        1    male  54.0         0      0      0
7        3    male   2.0         0      1      3
8        3  female  27.0         1      2      0
9        2  female  14.0         1      0      1
10       3  female   4.0         1      1      1
11       1  female  58.0         1      0      0
12       3    male  20.0         0      0      0
13       3    male  39.0         0      5      1
14       3  female  14.0         0      0      0
15       2  female  55.0         1      0      0
16       3    male   2.0         0      1      4
17       2    male   NaN         1      0      0
18       3  female  31.0         0      0      1
19       3  female   NaN         1      0      0

In [7]:
data['Sex'] = data['Sex'].map({'male': 0, 'female': 1})

In [8]:
data.head(25)

    Pclass  Sex   Age  Survived  Parch  SibSp
0        3    0  22.0         0      0      1
1        1    1  38.0         1      0      1
2        3    1  26.0         1      0      0
3        1    1  35.0         1      0      1
4        3    0  35.0         0      0      0
5        3    0   NaN         0      0      0
6        1    0  54.0         0      0      0
7        3    0   2.0         0      1      3
8        3    1  27.0         1      2      0
9        2    1  14.0         1      0      1
10       3    1   4.0         1      1      1
11       1    1  58.0         1      0      0
12       3    0  20.0         0      0      0
13       3    0  39.0         0      5      1
14       3    1  14.0         0      0      0
15       2    1  55.0         1      0      0
16       3    0   2.0         0      1      4
17       2    0   NaN         1      0      0
18       3    1  31.0         0      0      1
19       3    1   NaN         1      0      0
20       2    0  35.0         0      0      0
21       2    0  34.0         1      0      0
22       3    1  15.0         1      0      0
23       1    0  28.0         1      0      0
24       3    1   8.0         0      1      3

In [10]:
# drop all missinng values in all columns
data = data.dropna()

In [12]:
# Mean value imputation
data['Age'].fillna(data['Age'].mean(), inplace=True)

In [13]:
X = data.drop('Survived', axis=1)
y = data['Survived']

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [15]:
model = XGBClassifier()
model.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=100,
              n_jobs=0, num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, ...)

In [16]:
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]

In [17]:
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100))

Accuracy: 83.80%

In [19]:
import pickle
pickle.dump(model, open("pima.pickle.dat", "wb"))
print("Saved model to: pima.pickle.dat")

Saved model to: pima.pickle.dat

In [21]:
loaded_model = pickle.load(open("pima.pickle.dat", "rb"))
print("Loaded model from: pima.pickle.dat")

Loaded model from: pima.pickle.dat

In [22]:
y_pred = loaded_model.predict(X_test)
predictions = [round(value) for value in y_pred]

In [23]:
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100))

Accuracy: 83.80%