## Series Basics

It is very similar to a Python list, accept each item has to be of the same type

The easiest way to create a series is to pass in a python list

If we pass in a list with multiple types, the most common representation of both will be used

In [2]:
import pandas as pd

s = pd.Series(['dog', 2])
print(s)

0    dog
1      2
dtype: object

We can also pass through an index, essentially, assign a name to a value by giving it an index

In [3]:
s = pd.Series(['Wes McKinney', 'Creator of Pandas'], index=['Person', 'Who'])
print(s)

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

#### Series Anatomy

A dataframe can be thought of as a *Dictionary* of a *Series* objects

That is why Dictionaries are the most common way of creating a DataFrame

If you specify a new DataFrame with a dictionary, the key will be the column header, and the value will be the values will be the contents of the column

In [4]:
ser = pd.Series([1, 3, 5, 7])
print (ser)

0    1
1    3
2    5
3    7
dtype: int64

In [5]:
prices = {'apple': 4.99,
          'banana': 1.99,
          'orange': 3.99,
          'grapes': 0.99}
ser = pd.Series(prices)
print(ser)

apple     4.99
banana    1.99
orange    3.99
grapes    0.99
dtype: float64

We can also specify singular values that will be copied across a series
by specifying a range in an index

In [8]:
ser = pd.Series(2, index=range(0, 5))
print(ser)

0    2
1    2
2    2
3    2
4    2
dtype: int64

### Lab: Boolean and Variable Attribute Searches

In [9]:
# Create dataframe
raw_data = {'team': ['kiddies', 'kiddies', 'kiddies', 'kiddies', 'FireDogs', 'FireDogs', 'FireDogs', 'FireDogs', 'Mambaas', 'Mambaas', 'Mambaas', 'Mambaas'],
            'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd'],
            'Lastname': ['Miller', 'Jackson', 'Smith', 'Williams', 'West', 'Jack', 'Ryaner', 'Stone', 'Sloan', 'Piper', 'Roesewood', 'Petaway'],
            'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
            'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}
df = pd.DataFrame(raw_data, columns=['team', 'company', 'Lastname', 'preTestScore', 'postTestScore'])
df

        team company   Lastname  preTestScore  postTestScore
0    kiddies     1st     Miller             4             25
1    kiddies     1st    Jackson            24             94
2    kiddies     2nd      Smith            31             57
3    kiddies     2nd   Williams             2             62
4   FireDogs     1st       West             3             70
5   FireDogs     1st       Jack             4             25
6   FireDogs     2nd     Ryaner            24             94
7   FireDogs     2nd      Stone            31             57
8    Mambaas     1st      Sloan             2             62
9    Mambaas     1st      Piper             3             70
10   Mambaas     2nd  Roesewood             2             62
11   Mambaas     2nd    Petaway             3             70

In [10]:
df['Lastname'] == "West"

0     False
1     False
2     False
3     False
4      True
5     False
6     False
7     False
8     False
9     False
10    False
11    False
Name: Lastname, dtype: bool

Important Points:
* The result set will return a true/false. 
* The search found the word 'West' in the 5th column. 
* The dtype is a bool
* Don't forget the double equals is equals and a single equals is assignment.

In [11]:
df['preTestScore'] > 20

0     False
1      True
2      True
3     False
4     False
5     False
6      True
7      True
8     False
9     False
10    False
11    False
Name: preTestScore, dtype: bool

Next, we are using a Boolean search and looking for any test score greater than 20.

In [12]:
df['preTestScore'] > 20

0     False
1      True
2      True
3     False
4     False
5     False
6      True
7      True
8     False
9     False
10    False
11    False
Name: preTestScore, dtype: bool

In [20]:
df[df['Lastname'].notnull() & (df['postTestScore'] == 70)]

        team company Lastname  preTestScore  postTestScore
4   FireDogs     1st     West             3             70
9    Mambaas     1st    Piper             3             70
11   Mambaas     2nd  Petaway             3             70

Important points: 
* The notnull() method ensures no empty values will be returned. 
* Notice the & symbol used to join to search conditions together. 
* Lastly, we are only looking for postTestScore is equal to 70. (Red box with red arrow)